@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background-image:linear-gradient(to bottom, #f2fdf6 0%, #dfffec 100%);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font{
   font-family: "Oswald", sans-serif;
}
